@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Variable.woff') format('woff'),
       url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('/fonts/ClashDisplay-Extralight.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Extralight.woff') format('woff'),
       url('/fonts/ClashDisplay-Extralight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('/fonts/ClashDisplay-Light.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Light.woff') format('woff'),
       url('/fonts/ClashDisplay-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Regular.woff') format('woff'),
       url('/fonts/ClashDisplay-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Medium.woff') format('woff'),
       url('/fonts/ClashDisplay-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Semibold.woff') format('woff'),
       url('/fonts/ClashDisplay-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Bold.woff') format('woff'),
       url('/fonts/ClashDisplay-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Universal Jack';
  src: url('/fonts/UniversalJack-JRY1B.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Universal Jack';
  src: url('/fonts/UniversalJackLaser-jElyv.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Universal Jack';
  src: url('/fonts/UniversalJackItalic-GOR4a.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  font-family: 'Universal Jack', sans-serif;
  overflow-y: auto;
  overflow-x:hidden;
}
#skyscraper{
  height:205vh;
}
#canvas {
  background-size: cover;
}
/* Adjust the background size for zoom effect based on width */
@media (max-width: 767px) {
  #matter-canvas {
    background-size: 150%; /* Default background size for smaller screens */
  }
}

.mask{
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 11;
  background: #49260230;
  -webkit-mask-image: radial-gradient(circle 100px at 50% 50%, transparent 10%, #49260240 90%);
  mask-image: radial-gradient(circle 100px at 50% 50%, transparent 10%, #49260240 90%);
  filter:blur(10px);
  -webkit-mask-composite: destination-out;
  mask-composite: intersect;
}

.bg {
  background: #492602;
}
.code-block {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 20px 0;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
}

@media (min-width: 900px) {

  #titleicon{
    transition: 1s ease-in-out;
  }
  #titleicon.move{
    transform:translate(calc(-40vw - 6.5rem),8rem) rotate(-90deg) !important;
  }
  
  #title.move h1:nth-child(1){
    transform:translate(-40vw,0vh)
  }
  #title h1:nth-child(1){
    transition: 0.5s ease-in-out;
  }
  #title.move h1:nth-child(2){
    transform:translate(calc(-40vw - 0.8rem),1.7rem)
  }
  #title h1:nth-child(2){
    transition: 0.6s ease-in-out;
  }
  
  #title.move h1:nth-child(3){
    transform:translate(calc(-40vw - 1.6rem),3rem)
  }
  #title h1:nth-child(3){
    transition: 0.7s ease-in-out;
  }
  #title.move h1:nth-child(4){
    transform:translate(calc(-40vw - 2.8rem),4.4rem)
  }
  #title h1:nth-child(4){
    transition: 0.8s ease-in-out;
  }
  
  #title.move h1:nth-child(5){
    transform:translate(calc(-40vw - 4rem),6.1rem)
  }
  #title h1:nth-child(5){
    transition: 0.9s ease-in-out;
  }
  
  #title.move h1:nth-child(6){
    transform:translate(calc(-40vw - 4.8rem),7.85rem)
  }
  #title h1:nth-child(6){
    transition: 1.0s ease-in-out;
  }
  #title.move h1:nth-child(7){
    transform:translate(calc(-40vw - 5.5rem),9.2rem)
  }
  #title h1:nth-child(7){
    transition: 1.1s ease-in-out;
  }
  #title.move h1:nth-child(8){
    transform:translate(calc(-40vw - 6.5rem),10.6rem)
  }
  #title h1:nth-child(8){
    transition: 1.2s ease-in-out;
  }
  #title.move h1:nth-child(9){
    transform:translate(calc(-40vw - 7.2rem),12.25rem)
  }
  #title h1:nth-child(9){
    transition: 1.3s ease-in-out;
  }
  #title.move h1:nth-child(10){
    transform:translate(calc(-40vw - 7.8rem),13.85rem)
  }
  #title h1:nth-child(10){
    transition: 1.4s ease-in-out;
  }
  #title.move h1:nth-child(11){
    transform:translate(calc(-40vw - 8.6rem),15.25rem)
  }
  #title h1:nth-child(11){
    transition: 1.5s ease-in-out;
  }
  
  #title h1:hover{
    transition: 0.2s ease-in-out;
    color: beige;
  }
  
  #minimenu.move h2:nth-child(1){
    transform:translateX(-16vw);
    transition: 1s ease-in-out;
  }
  #minimenu h2:nth-child(1){
    transition: 2s ease-in-out;
  }
  
  #minimenu.move h2:nth-child(2){
    transform:translateX(-16vw);
  }
  #minimenu h2:nth-child(2){
    transition: 1.5s ease-in-out;
  }
  
  #minimenu.move h2:nth-child(3){
    transform:translateX(-16vw);
    transition: 2s ease-in-out;
  }
  #minimenu h2:nth-child(3){
    transition: 1s ease-in-out;
  }
}  
.tit1{
  font-size: 1.5rem;
}
@media (min-width: 1024px){
  .tit1{
    font-size: 3rem;
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}