@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Universal Jack';
  src: url('/fonts/UniversalJack-JRY1B.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Universal Jack';
  src: url('/fonts/UniversalJackLaser-jElyv.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Universal Jack';
  src: url('/fonts/UniversalJackItalic-GOR4a.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  font-family: 'Universal Jack', sans-serif;
  overflow-y: auto;
  height: 145%;
}

main {
}

#canvas {
  background: url('/labg3.png') no-repeat;
  background-size: cover;
}
/* Adjust the background size for zoom effect based on width */
@media (max-width: 767px) {
  #matter-canvas {
    background-size: 150%; /* Default background size for smaller screens */
  }
}
